body {
  background-image: url(https://sneakerfreaker-cdn.s3-accelerate.amazonaws.com/image/KicksLab2-inside_190501_155529.jpg?mtime=20190501155529);
  background-position: center;
  background-size: cover;
  padding: 20px;
  margin: 0;
}
.title {
  color: white;
}
.subtitle {
  color: white;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #23BA91;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}